// theme color
//$body-bg: #fff;
//$text-disabled: var(--text-disabled);

// font
$font-family-sans-serif: SpecialSymbol, DINRegular, -apple-system,
  BlinkMacSystemFont, 'PingFang SC', 'Helvetica Neue', 'Hiragino Sans GB',
  'Segoe UI', 'Microsoft YaHei', '微软雅黑', sans-serif;
$font-family-monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;
$font-family-base: $font-family-sans-serif;

// size
$font-size-small: 16px;
$font-size-base: 16px;
$line-height-base: 1.4;

$transition-time: 0.3s;
